.form-control-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}
.btn-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem;
}
.navBg{
background-color: #bd399c !important;
border:none !important;
}
.mainColor{
color: #bd399c !important;
}

.fs-10{
font-size:10px !important; 
max-width: 100% !important;   
}
.fs-11{
font-size:11px !important;
max-width: 100% !important;  
}
.fs-12{
font-size:12px !important;
max-width: 100% !important;  
}
.fs-13{
font-size:13px !important;
max-width: 100% !important;  
letter-spacing: -1px !important;
}